[submodule "chemacs2"]
	path = 3rd/chemacs2
	url = https://gitee.com/mirrors_plexus/chemacs2.git
	ignore = dirty
[submodule "doomemacs"]
	path = 3rd/doomemacs
	url = https://gitee.com/winnochan/doomemacs.git
[submodule "spacemacs"]
	path = 3rd/spacemacs
	url = https://gitee.com/mirrors/spacemacs.git
[submodule "asdf"]
	path = 3rd/asdf
	url = https://gitee.com/winnochan/asdf.git
[submodule "zi"]
	path = 3rd/zi/bin
	url = https://gitee.com/winnochan/zi.git
[submodule "spacevim"]
	path = 3rd/spacevim
	url = https://gitee.com/winnochan/SpaceVim.git
[submodule "node-build"]
	path = 3rd/node-build
	url = https://gitee.com/winnochan/node-build.git
[submodule "dotbot"]
	path = 3rd/dotbot
	url = https://gitee.com/winnochan/dotbot.git
	ignore = dirty
