[submodule ".emacs.d"]
	path = .emacs.d
	url = https://gitee.com/mirrors_plexus/chemacs2.git
[submodule ".doomemacs"]
	path = .doomemacs
	url = https://gitee.com/winnochan/doomemacs.git
[submodule ".spacemacs"]
	path = .spacemacs
	url = https://gitee.com/mirrors/spacemacs.git
